*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.container{
   
    max-width: 1440px;
}
.a_1{
    display: flex;
    justify-content: right;
}
.b{
   
    font-size: 52px;
    position: absolute;
    top:190px;
    left:100px;
    font-family: 'Exo 2', sans-serif;
    line-height: 65px;
    line-height: 125%;
    color:#363738;
    font-family: 'PT Sans', sans-serif;
}
.b_2{
    position: absolute;
    top:349px;
    left:100px;
    height:66px;
    width: 525px;
    font-size: 16px;
    line-height: 24px;
    line-height: 150%;
    color:#6B6B6C;
    font-family: 'PT Sans', sans-serif;
   
}
.b_3{
    position: absolute;
    top:455px;
    left:100px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.b_4{
    position: absolute;
    top:482px;
    left:100px;
    width:104px;
    height:2px;
    background-color: #FFCE50;
}
.bl_2{
    background-color: #0B7572;
    width: 599px;
    height: 787px;
    float: right;
    
}
.img{
    position: absolute;
    width: 635px;
    height: 505px;
    top:109px;
    right:100px

}
.con{
    position: absolute;
    top:681px;
    left:100px;
    width: 1240px;
    min-height: 341px;
    border-radius:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border: 2px solid  #E5E5E5;
    background-color: white;
   
} 
 .circle{
    position: absolute;
    top:40px;
    left: 80px;
    width: 92px;
    height: 92px;
    border-radius:50%;
    background-color: #E9E9EC;
}
.circle2{
    left: 470px;
}
.circle3{
    left:890px;

}
.ii{
    position: absolute;
    top: 21px;
    left: 21px;
}
.pr{
    width: 228px;
    height: 48px;
    position: absolute;
    top: 156px;
    left: 80px;
    color:#6B6B6C;
    font-size:20px;
    line-height: 27px;
    line-height: 135%;
    vertical-align: top;
    font-style: 'PT Sans', sans-serif;
}
.pr2{
    left: 477px;
}
.pr3{
    left:890px; 
}
.pr_2{
    font-family: Pt;
    position: absolute;
    width: 228px;
    height: 48px;
    top: 220px;
    left: 80px;
    color:#6B6B6C;
    font-style: 'PT Sans', sans-serif;
    
}
.pr_22{
left: 477px;
}
.pr_3{
    left: 890px;
} 
@media  (min-width: 376px) and (max-width: 768px)  { 
    .a_1{
        max-width:768px ;
    }
    .container{
        max-width: 768px;
    }
    .bl_2{
        height: 743px;
        width: 177px;
        right:552px
    }
    .img{
        position: absolute;
        width: 690px;
        height:314px;
        object-fit: cover;
        border-radius: 15px 15px 15px;
        top:429px;
        right:39px;
    }
    .b_2{
        width: 523px;
        height: 65px;
        top:220px;
        left:39px;

    }
    .b_3{
        top:346px;
        left: 39px;
    }
    .b_4{
        top:373px;
        left:39px;
    }
    .b{
        top:80px;
        left:39px;
    }
    .con{
        position: absolute;
        top:784px;
        left:39px;
        max-width: 690px;
     
        border-radius:0px;
        box-shadow: 0 0 0 0;
        border: 0px solid  white;
        
    } 
    .ic{
        max-width: 690px;
        min-width: 370px; 
        height: 164px;
        background-color: white;
        margin-bottom: 16px;
        border-radius:20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        border: 2px solid  #E5E5E5;
        background-color: white;
    }
    .circle{
        position: absolute;
        top:32px;
        left: 32px;
        width: 92px;
        height: 92px;
        border-radius:50%;
        background-color: #E9E9EC;
    }
    .circle2{
        top:212px
    }
    .circle3{
        top:392px;

    }
    .ii{
        position: absolute;
        top: 21px;
        left: 21px;
    }
    
    .pr{
        display: inline-block;
        position: absolute;
        top:35px;
        left: 156px;
    }
    .pr2{
       
        top:215px
    }
    .pr3{
    top:395px
    }
    .pr_2{
        
        margin-bottom: 20px;
        position: absolute;
        max-width: 394px;
        height: 41px;
        top: 96px;
        left: 156px;
    }
    .pr_22{ margin-bottom: 20px;
        top:276px

    }
    .pr_3{
        margin-bottom: 20px;
        top:456px
    }
}
@media(min-width: 320px) and (max-width: 375px) {
    .container{
        max-width: 375px;
    }
    .bl_2{
       
        max-width:375px;
        max-height: 766px;
      
    }
    .b{
        font-size: 28px;
        line-height: 35px;
        position: absolute;
        top:75px;
        left:15px;
        color:white
    }
    .b_2{
    position: absolute;
    
    top:171px;
    left:15px;
    width: 344px;
    height:62px;
    font-size: 15px;
    line-height: 22.5px;
    color:white;
    font-family: 'PT Sans', sans-serif;
    overflow: hidden;

    }
    .img{
        position: absolute;
        width: 345px;
        height: 253px;
        top:332px;
        right:15px
    
    }
    .con{
        position: absolute;
        top:641px;
        left:15px;
        max-width: 345px;
        height: 638px;
        border-radius:20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        border: 2px solid  #E5E5E5;
        background-color: white;
        
    } 
    .circle{
        position: absolute;
        top:24px;
        left: 24px;
        width: 68px;
        height: 68px;
        border-radius:50%;
        background-color: #E9E9EC;
    }
    .circle2{
        top:226px
    }
    .circle3{
        top:428px;

    }
    .ii{
        width: 36.96px;
        height: 36.96px;
        position: absolute;
        top: 15.52px;
        left: 15.52px;
    }
    .pr{
        display: inline-block;
        position: absolute;
        top:108px;
        left: 32px;
        font-size: 18px;
    }

    .pr2{
       
        top:310px
    }
    .pr3{
    top:512px
    }

    .pr_2{
       
        position: absolute;
        width: 286px;
        height: 39px;
        top: 163px;
        left: 32px;
        overflow: hidden;
    }
    .pr_22{ 
        top:365px

    }
    .pr_3{
       
        top:567px;
    }
    .b_3{
        width: 99px;
        height: 16px;
        position: absolute;
        top:265px;
        left:15px;
        font-family: 'PT Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        color:white;
    }
    .b_4{
       top: 292px;
       left: 15px;
        
    }
}
